@tailwind base;
@tailwind components;
@tailwind utilities;
@import "open-props/style";

body {
  background-color:var(--green-0);
}

.fade {
  border: var(--border-size-1) solid var(--gray-1);
  animation: var(--animation-fade-in) forwards;
}
